body{
    font-size:24px;
}

* {
    box-sizing: border-box;
}



/******************* HEADER STYLES *******************/

.header {
    min-height:20px;
    padding: 50px;
    background: rgb(33, 244, 219);
}

.welcome {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: Bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.welcome-sub {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: Bold;
    font-size: 1rem;
}

.upload {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    font-size: 1rem;
}

/******************* RESULTS STYLES *******************/

.results-header {
    font-size: 20px;
    text-align: center;
}