<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Handscribe</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap"/>
        <link rel="stylesheet" href="../static/css/reset.css"/>
        <link rel="stylesheet" href="../static/css/styles.css"/>
    </head>

    <body>
        <header class="header">
            <h1 class="welcome">Welcome to Handscribe!</h1>
            <h2 class="welcome-sub">Extract text from PDFs and images</h2>
            <div class="return">
                <a href="/"><button>Return to upload page</button></a>
            </div>
        </header>

        <section class="content">
            {% block container %}
            {% endblock %}
        </section>
    </body>
</html> 