:root{
    --textcolor:#051923;
    --main: #21F4DB;
    --white: #f5fffa;
    --hover: #97CC04
  }

body{
    font-size:24px;
    font-family: Inter;
    color:var(--textcolor);
}


/******************* HEADER STYLES *******************/

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    top:0;
    left:0;
    width:100vw;
    min-height: 30vh;
}

.welcome {
    text-align: center;
    font-family: Inter;
    font-weight: Bold;
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.welcome-sub {
    text-align: center;
    font-family: Inter;
    font-weight: Bold;
    font-size: 2rem;
    margin-bottom:7.5rem;
}

button{
    display:block;
    text-align: center;
    cursor:pointer;
    border-radius:3rem;
    background-color: var(--white);
    color: var(--textcolor);
    font-size:1.5rem;
    padding-left:200px;
    padding-right:200px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 15px;
}

button:hover{
    background-color: var(--hover);
}


/******************* RESULTS STYLES *******************/

.content{
    background-color: var(--white);
    color: var(--textcolor);
}

.results-header {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.result-container{
    margin:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.result-text{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

