name: Machine Learning Client CI

on: 
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with: 
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          cd machine-learning-client
          python -m pip install --upgrade pip
          pip install pytest
          pip install requests
          pip install flask
          pip install flask-pymongo
          pip install handprint
          pip install Pillow
          pip install Image
          
      - name: Run tests
        run: |
          cd machine-learning-client
          pytest